@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
    /* background-image: url('backgr.png'); Add your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.back{
    background-color: beige;
}

/* Style for the header */
header {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background for the header */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Style for the place details container */
.place-details-container {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background for the content container */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Style for the place image */
.place-image {
    flex: 1;
    text-align: center;
}

.place-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

/* Style for the place info section */
.place-info {
    flex: 2;
    padding: 20px;
    /* background-image: url(backgr.png);
    background-repeat: no-repeat;
    background-position: center; */
}

/* Style for detail boxes */
.detail-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style for headings */
h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* Style for lists */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Style for the sidebar with age group, max people, price, location, reviews, and booking button */
.place-details-sidebar {
    flex: 1;
    padding: 20px;
}

.sidebar-item {
    margin-bottom: 20px;
}

/* Style for the reviews */
.review {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Style for the booking button */
.booking-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }


/* Add this CSS for the FAQ accordion */
.accordion {
    cursor: pointer;
}

.panel {
    display: none;
    padding: 10px;
}

.panel.show {
    display: block;
}
body{
    background-color: black
}

.lead{
    font-size: 70px;
}

.testimonials{
    font-family: 'Poppins', sans-serif;
    font-size : 16px;
    /* background: linear-gradient(to right, hsl(186, 98%, 37%), hsl(170, 100%, 40%)); */
}
.container{
    max-width: 1170px;
    margin: auto;
    padding:0, 15px;
}
.testimonials{
    padding:100px, 0px;
}
.section-header{
    text-align: center;
    margin-bottom: 50px;
}
.section-header .title{
    font-size: 35px;
    font-weight:600;
    text-transform:capitalize;
    color : hsl(0, 0%, 100%);
    line-height:1.2;
}

.testimonials-item{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius:30px;
}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right:20px;
    vertical-align: middle;
}
.testimonials-item .info{
    display:flex;
    align-items:center;
}
.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    line-height:1.2;
}
.testimonials-item .job{
    text-transform : capitalize;
    color : hsl(0, 0%, 40%);
}
.testimonials-item p{
    margin-top : 20px;
    color : hsl(0, 0%, 40%);
}
.testimonials-item .rating{
    margin-top : 15px;
    font-size : 14px;
    color: hsl(36,88%, 66% );
}
.testimonials .swiper-pagination{
    position : relative;
    margin-top: 40px;
    bottom : auto;
}
.testimonials .swiper-pagination-bullet{
    height:15px;
    width:15px;
    background-color: hsl(0, 73%, 3%);
}

.navbar{
    background-color: whitesmoke;
    height: 60px;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
/* Style for Camping Highlights Container */
.camping-highlights-container {
    background-color: #ffffff; /* White background color */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-top: 20px;
}

/* Style for Camping Highlights */
.camping-highlights {
    text-align: center;
}

.camping-highlights h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.highlights-container {
    display: flex;
    justify-content: space-around;
}

.highlight {
    text-align: center;
}

.highlight i {
    font-size: 24px;
    margin-bottom: 10px;
}

.highlight p {
    font-size: 18px;
    margin: 0;
}

.featurette-container {
    background-color: #ffffff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-top: 20px;
}

/* Common style for package details section */
.package-details {
    display: flex;
    justify-content: space-between;
}

/* Style for Inclusions Box */
.inclusions {
    flex: 1; /* Occupy one-third of the available space */
    background-color: #ffffff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-top: 20px;
}

.inclusions h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.inclusions ul {
    list-style: none;
    padding: 0;
}

.inclusions li {
    font-size: 18px;
    margin-bottom: 8px;
}

/* Style for Check Circle Icon */
.inclusions li i {
    color: #2ecc71; /* Green color for the check circle icon */
    margin-right: 8px;
}

/* Style for Booking Info Box */
.booking-info {
    flex: 1; /* Occupy one-third of the available space */
    background-color: #ffffff; /* White background color */
    padding-bottom: 10px;
    padding-top: 120px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-bottom: 20px;
    margin-top: 120px;
    margin-left: 20px; /* Add some space between the boxes */
    height: 20%;
}

.booking-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.booking-info ul {
    list-style: none;
    padding: 0;
}

.booking-info li {
    font-size: 18px;
    margin-bottom: 8px;
}

/* Style for Check Circle Icon in Booking Info Box */
.booking-info li i {
    color: #2ecc71; /* Green color for the check circle icon */
    margin-right: 8px;
}

/* Style for Things to Carry Box */
.things-to-carry {
    flex: 1; /* Occupy one-third of the available space */
    background-color: #ffffff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(202, 106, 4, 0.1); /* Optional: Add a subtle shadow */
    margin-top: 20px;
    margin-left: 20px; /* Add some space between the boxes */
    width: 150%;
}

.things-to-carry h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.things-to-carry ul {
    list-style: none;
    padding: 0;
}

.things-to-carry li {
    font-size: 18px;
    margin-bottom: 8px;
}

/* Style for Important Note Icon in Things to Carry Box */
.things-to-carry li::before {
    /* content: "\2022";  */
    /* color: #ff9800;  */
    font-size: 24px;
    margin-right: 8px;
}

/* Style for Trip Details Section */
.trip-details {
    background-color: #ffffff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-top: 20px;
}

.trip-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for Trip Detail Items */
.trip-detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.trip-detail i {
    font-size: 30px;
    margin-right: 10px;
}

.trip-detail p {
    font-size: 18px;
}



@media screen and (max-width: 768px) {
    .search-bar {
      display: none;
    }
    .create {
      gap: 1rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    nav ul li {
      margin-bottom: 0.5rem;
    }
    .navbar-links ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
    }
    .navbar-links li {
      list-style: none;
    }
    .navbar-links a {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: var(--colour-primary);
      color: white;
      text-decoration: none;
      border-radius: var(--border-radius);
    }
  }
  
