/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(backgr.png);
    background-repeat: no-repeat;
    background-position: center; */
}

/* Style for the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 2;
}

/* Style for the form container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/backgr.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Style for the registration form */
.registration-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    max-width: 400px;
}

/* Style for form labels */
.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form inputs */
.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the register button */
.registration-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the register button on hover */
.registration-form button:hover {
    background-color: #555;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  
  @media screen and (max-width: 768px) {
    .search-bar {
      display: none;
    }
    .create {
      gap: 1rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    nav ul li {
      margin-bottom: 0.5rem;
    }
    .navbar-links ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-decoration: none;
    }
    .navbar-links li {
      list-style: none;
    }
    .navbar-links a {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: var(--colour-primary);
      color: white;
      text-decoration: none;
      border-radius: var(--border-radius);
    }
  }
  
