body,html{
    height:100%;
}
* {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("travel.png");
  
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(3px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
     background-color: rgb(0,0,0);/* Fallback color  */
     background-color: rgba(0,0,0,0.8); /*Black w/opacity/see-through */
    color: white;
    font-weight: 900;
    font-family:Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
    border: 3px solid #f1f1f1; 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    z-index: 2;
    width: 60%;
    height: 30%;
    padding: 20px;
    text-align: center;
  }
  .navbar{
    background-color: whitesmoke;
    height: 50px;
  }
